<form action="/signup" method="POST">
  <label>Username:<input type="text" required name="username" /></label>
  <label>Email:<input type="email" name="email" /></label>
  <label>Password:<input type="password" name="password" /></label>
  <button>Sign up!</button>
</form>

<% if (typeof errorMessage !== "undefined") { %>
<p class="error"><%= errorMessage %></p>
<% } %>
