<nav>
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>
</nav>
<h1>One App to Rule Them All</h1>

<<<<<<< HEAD
<p>Welcome to Middle-earth, traveller! Speak "Friend" and enter...</p>

<p>
<a href="/signup">Sign Up</a>
<a href="/login">Log In</a>
</p>
=======
<p>Welcome to Middle Earth, traveller! Speak "Friend" and enter...</p>
>>>>>>> master
