<div class="indexBackground">
  <nav>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
  </nav>
  <div class="box">
    <div class="pageText">
      <h1>One App to Rule Them All</h1>
      <p>
        One App to Rule Them All is an immersive experience, created by fans of
        The Lord of the Rings series.
      </p>
      <p>
        It was created as a way to immersive new and existing fans into the
        world so beautifully written by J. R. R. Tolkien.
      </p>
      <p>
        Explore the world of Middle-earth, learning about it's lore, the people
        and places on this enormous universe.
      </p>
      <p>
        Create your own account, to fully immerse yourself in this experience.
        Create your party of adventurers, spend your time at the famous Prancing
        Pony, order a drink (they come in pints!) and relax. Or head out to see
        the mysterious Dealer, to earn Castar and spend it on adventuring gear
        in Eginhard'S Emporium, or save your well earned money at Bodrig's Bank!
      </p>
      <p>Welcome to Middle Earth, traveller! Speak "Friend" and enter...</p>
      <div class="buttons">
        <a href="/signup" class="indexButton">Sign Up</a>
        <a href="/login" class="indexButton"
          >Already have an acount? Login here.</a
        >
        <a href="/profile/explore">Explore the world of Middle-earth</a>
      </div>
    </div>
  </div>
</div>
