<h1>WELCOME TO YOUR PROFILE</h1>

<div style="display: flex; flex-direction: column;">
<a href="/characters">Your characters</a>
<a href="/characters/new">Create a new character</a>
<a href="/characters/new">Visit Eginhard's Emporium</a>
<a href="/characters/new">Check Your Inventory</a>
<a href="/characters/new">Explore Middle Earth</a>
<a href="/characters/new">Check Your Wealth</a>
<a href="/characters/new">Logout</a>
</div>