<h1>WELCOME TO THE PRANCING PONY</h1>

<div style="display: flex; flex-direction: column">
  <a href="/characters">Your Characters</a>
  <a href="/characters/new">Create a New Character</a>
  <a href="/shop">Visit Eginhard's Emporium</a>
  <a href="/<%= currentUser.name %>">Make a deal with the dealer!</a>
  <a href="/inventory">Take Stock of Your Supplies</a>
  <a href="/explore">Explore Middle Earth</a>
  <a href="/wealth">Head to Bodrig's Bank</a>
</div>
