body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

a {
  color: #00b7ff;
  padding: 5px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: larger;
  padding: 10px
}

.explore-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.places {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.places a {
  border: 1px solid black;
  margin: 5px;
  width: 10vw;
  text-align: center;
  text-decoration: none;
  color: black
}

.characters {
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
}

.characters a {
  border: 1px solid black;
  margin: 5px;
  width: 10vw;
  text-align: center;
  text-decoration: none;
  color: black
}
.about-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

.about-image{
  width: 60vw;
}
.about-image img {
  width: 500px;
}
.about {
  margin-left: 20px;
  text-align: left;
  margin-top: 0px;
  padding-top: 0px
}

.gimli-picture{
  width: 500px;
  height: 400px
}

.frodo-image {
  width: 500px
}

.merryPippinImage{
  width:550px;
}
.galadriel-image {
  width: 620px;
  height: 390px
}

.smeagol-image {
  width: 700px;
}

.sauron-image {
  width: 700px;
}

.locationImage {
  width: 700px
}

.coatOfArms{
  width:269px
}

.meme{
  display: flex;
  justify-content: center;
  padding: 10px
}

.answers {
  text-align: center;
}

.answers a {
  border: 1px solid black;
  margin: 5px;
  width: 10vw;
  text-align: center;
  text-decoration: none;
  color: black
}

.navButtonImage {
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 0px
}

.button{
  border: 1px solid black;
  border-radius: 6px;
  margin: 0px;
  padding: 0px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: transparent;
  display:flex; 
  flex-direction: column;
}

.profilePage {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 20px;
}

.indexBackground {
  background-image: url("/images/map.jpg");
  background-size: cover;
  height: 100vh;
}
.box {
  margin-top: 150px;
  margin-left: 250px;
  border: 5px solid white;
  background-color: rgba(6, 58, 19, 0.7);
  width:70vw;
}

.pageText {
  font-size: 20px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .buttons {
  display: flex;
  justify-content: center;
 }

 .buttons a {
  border: 5px solid white;
  border-radius: 16px;
  background-color: white;
  margin: 10px;
  text-decoration: none;
  color: rgb(6, 58, 19);
 }
 nav {
  height: 4vh;
  background-color: rgb(6,58,19);
  border: 1px solid rgb(6,58,19);
  display: flex;
  justify-content: flex-start;
 }
 nav a {
  text-decoration: none;
  margin: 5px;
  text-align: center;
  color: white;
 }
.authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authentication label {
  margin-bottom: 20px;
}
.authentication input {
  border-radius: 6px;
  border: 1px solid white;
}

button {
  border: 5px solid white;
  border-radius: 16px;
  background-color: white;
  margin: 10px;
  text-decoration: none;
  color: rgb(6, 58, 19);
}

 .error {
  color: tomato;
 }