@font-face {
  font-family: CustomFont;
  src: url(../font/RingbearerMedium-51mgZ.ttf)
}

* {
  font-family: CustomFont;
}

body {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.pageCtr {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

a {
  padding: 5px;
} 

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: larger;
  padding: 10px
}

.headingCtr {
display: flex;
justify-content: space-around;
}

.exploreBox {
  margin: auto;
  margin-top: 50px;
  border: 5px solid white;
  background-color: rgba(6, 58, 19, 0.7);
  width:80%;
  height: 75vh;
}

.exploreText {
  font-size: 15px;
  text-align: center;
  color: white;
}

.explore-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.itemList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 90%;
  flex-wrap: wrap;
}

.itemList a {
  border: 1px solid white;
  border-radius: 50% 20% / 10% 40%;
  margin: 20px;
  width: 10vw;
  text-align: center;
  text-decoration: none;
  color: rgb(6, 58, 19);
  background-color: white;
}

.about-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

.about-image{
  width: 60vw;
  margin-left: 10px;
  margin-bottom: 10px;
}

.about-image img {
  max-width: 450px;
}

.about {
  margin-left: 20px;
  text-align: left
}

.gimli-picture{
  width: 500px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.aragornImg {
width: 250px;
}

.legolasImg {
width: 270px;
}

.frodo-image {
  width: 500px;
  margin-left: 10px;
}

.sam-image {
  margin-left: 10px;
  width: 300px
}

.elrond-image {
  margin-left: 10px;
  margin-bottom: 10px;
}

.sarumanImg {
  width: 200px
}

.merryPippinImage {
  width:500px;
}

.galadriel-image {
  width: 620px;
  margin-left: 10px;
}

.smeagol-image {
  width: 700px;
  margin-left: 10px;
}

.sauron-image {
  width: 700px;
  margin-left: 10px;
}

.locationImage {
  width: 700px;
  margin-left: 10px;
}

.coatOfArms {
  width:269px;
}

.locationImageG {
  width: 200px;
  margin-left: 10px;
}

.coatOfArmsG {
  width:120px;
}

.coatOfArmsR {
  width:120px;
}

.locationImageR {
  width: 200px;
  margin-left: 10px;
}

.meme {
  display: flex;
  justify-content: center;
  padding: 50px
}

.meme img {
  max-width: 900px
}

.mordorImg {
  width: 300px
}

.answers {
  margin-bottom: 15px;
}

.navButtonImage {
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 0px
}

.button{
  border: 1px solid black;
  border-radius: 6px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  color: rgb(6, 58, 19);
  background-color: white;
  display:flex; 
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.profilePage {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 20px;
}

.profileBox {
  margin:auto;
  border: 5px solid white;
  background-color: rgba(6, 58, 19, 0.7);
  width:70vw;
}

.indexBackground {
  background-image: url("/images/map.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0;
}

.shopBackground {
  background-image: url("/images/shopBackground.jpg");
  background-size: cover;
  height: 100%;
}

.shopItemBackground {
  background-color: rgb(192, 192, 192, 0.5);
  padding: 10px;
  border-radius: 50% 20% / 10% 40%;;
}

.saleBackground {
  background-image: url("/images/saleBackground.png");
  background-size: cover;
  height: 110%;
}

.shopBox {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid white;
  background-color: rgba(6, 58, 19, 0.7);
  width: 95%;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px;
  height: 100%;
}

.shopItems {
  color: white;
  font-size: 15px; 
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.shopItem {
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkoutBox {
  position: fixed;
  top: 25%;
  margin-left: 2.5%;
  border: 5px solid white;
  background-color: rgba(6, 58, 19, 0.7);
  width: 95%;
  color: white;
  font-size: 20px;
  text-align: center;
}

.charBox {
  border: 5px solid white;
  background-color: rgba(6, 58, 19, 0.7);
  width:70%;
  height: 62%;
  position: fixed;
  top: 20%;
  margin: auto;
}

.inventoryItems {
  color: white;
  font-size: 15px; 
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  border: 1px solid black
}

.inventoryItem {
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white
}

.inventoryText {
color: white;
font-size: 20px;
text-align: center;
width: 75%;
}

.invCtr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basketBackground {
  background-color: rgb(241, 236, 163);
  font-size: 18px;
  text-align: center;
  height: 100vh;
}

.basketBtn {
  padding-bottom: 50px;
}

.basketCtr {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px; 
}

.basketText {
font-size: 25px;
margin: 40px;
}

.basketLink {
  color: rgba(6, 58, 19, 0.7);
  text-decoration: none;
  border-radius: 50% 20% / 10% 40%;
  background-color: white;
  font-size: 20px;
}

.linkCtr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkCtr2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marketLink {
padding-left: 50px;
padding-right: 50px;
}

.inventoryBackground {
  background-color: rgb(11, 63, 24);
  height: 100vh;
} 

.box {
  border: 5px solid white;
  background-color: rgba(6, 58, 19, 0.7);
  width:70%;
  position: fixed;
  top: 30%;
  margin-left: 15%;
}

.entryBox {
  border: 5px solid white;
  background-color: rgba(6, 58, 19, 0.7);
  width:70%;
  position: fixed;
  top: 20%;
  margin-left: 15%;
}

.pageText {
  font-size: 20px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .buttons {
  display: flex;
  justify-content: center;
 }

 .buttons a {
  border: 5px solid white;
  border-radius: 16px;
  background-color: white;
  margin: 10px;
  text-decoration: none;
  color: rgb(6, 58, 19);
 }

 nav {
  height: 4vh;
  background-color: rgb(6,58,19);
  border: 1px solid rgb(6,58,19);
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }

 nav a {
  text-decoration: none;
  margin: 5px;
  text-align: center;
  color: white;
  border-right: solid 1px white;
  padding-right: 10px
 }

 .wrapper {
  list-style-type: none;
  padding:0;
 }

 .form-row {
  display: flex;
  justify-content: center;
  padding: .5em;
 }

 .form-row label {
  padding: .5em 1em .5em 0;
  display: flex;
  justify-content: flex-start;
  flex: 1;
 }

button {
  border: 5px solid white;
  border-radius: 50% 20% / 10% 40%;
  background-color: white;
  margin: 10px;
  text-decoration: none;
  color: rgb(6, 58, 19);
}

.profileBackground {
  background-image: url("/images/tavern.jpg");
  background-size: cover;
  height: 100vh
}

.profileText{
  font-size: 20px;
  text-align: center;
  color: white;
}

.characterImg {
  width: 150px;
}

.charactersBackground{
  background: rgb(241, 236, 163);
  height: 100%
}

.characterButtons{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.updateBackground {
  background-image: url("/images/characters.jpg");
  background-size: cover;
  height: 100vh;
}

.detailsPage {
  display: flex;
  justify-content: space-evenly;
}

.detailsImg{
  height: 500px
}

.whiteButton {
  border: 5px solid white;
  border-radius: 16px;
  background-color: white;
  margin: 10px;
  text-decoration: none;
  color: rgb(6, 58, 19);
}

.dealerBackground {
  background-image: url("/images/dealer.jpg");
  background-size: cover;
  height: 100vh;
}

.bankBackground {
  background-image: url("/images/bank.jpeg");
  background-size: cover;
  height: 100vh;
}

.charactersBox {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: rgba(6, 58, 19, 0.7);
  width:70vw;
}

.error {
  color: tomato;
 }

 @media (max-width: 1800px) {
  .about-rohan {
    font-size: 12px;
  }
  .about-mirk {
    font-size: 12px;
  }
  .about-moria {
    font-size: 12px;
  }
  .about-isengard {
    font-size: 12px;
  }
  .about-mordor {
    font-size: 12px;
  }
 }

 @media (max-width: 1300px) or (max-height: 800px) {
  .pageText {
    font-size: 15px;
  }
  .box {
    margin-top: auto;
  }
  nav {
    font-size: 80%;
  }
  .exploreText {
    font-size: 13px;
  }
  .exploreBox {
   width: 80vw;
  }
  .itemList a {
    margin: 15px
   }
   .about-image img {
    max-width: 400px;
  }
  .about-rohan {
    font-size: 11.5px;
  }
  .about-mirk {
    font-size: 11.5px;
  }
  .about-moria {
    font-size: 11.5px;
  }
  .about-isengard {
    font-size: 11.5px;
  }
  .about-mordor {
    font-size: 11px;
  }
  .meme img {
    max-width: 700px
  }
  .navButtonImage {
    width: 80px;
    height: 80px;
  }
  .button {
    font-size: 15px;
  }
  .detailsImg{
    height: 400px
  }
  nav {
    height: 6vh;
  }
  .basketText {
    font-size: 15 px;
  }
}

@media (max-width: 1000px) or (max-height: 700px) {
  .pageText {
    font-size: 12px;
  }
  .box {
    margin-top: auto;
  }
  nav {
    font-size: 70%;
  }
  .exploreBox {
    width: 90vw;
   }
   .itemList a {
    margin: 8px
   }
   .about-image img {
    max-width: 300px;
  }
  .about-image-mp {
    margin-left: 0;
  }
  .about-mp {
    margin-left: 0;
  }
  .meme img {
    max-width: 500px
  }
  .detailsImg{
    height: 300px
  }
  .navButtonImage {
    width: 60px;
    height: 60px;
  }
  .button {
    font-size: 12px;
  }
}

@media (max-height: 650px) {
  .about-image img {
    display: none;
  }
  .about-page {
display: inline;
  }
  .audio {
    display: block;
    height: 30px;
  }
  .about {
    font-size: 75%;
  }
  .headingCtr {
    display: none;
  }
}