<nav>
  <a href="/profile">Back to the Prancing Pony</a>
  <a href="/characters">Your characters!</a>
  <a href="/characters/new">Create a new character!</a>
  <a href="/profile/inventory">Take stock of your supplies!</a>
  <a href="/profile/dealer">Talk to the Dealer</a>
  <a href="/profile/wealth">Head to Bodrig's Bank</a>
  <a href="/profile/explore">Explore Middle-earth!</a>
</nav>

<p>
  Some excellent selections, my good traveller. Can I interest you in anything
  further?
</p>

<div>
  <a href="/profile/shop">Keep Looking</a>
</div>

<div>
  <form method="POST" action="/profile/checkout">
    <button type="sumbit">Pay Eginhard</button>
  </form>
</div>

<div>Total to Pay: <%= totalBasket %> Castar</div>

<form method="POST" action="/profile/basket/clear">
  <button type="submit">Clear Basket</button>
</form>

<div>
  <% currentUserBasket.forEach((element) => { %>
  <div>
    <p><%= element.name %></p>
    <p><%= element.price %> Castar</p>
    <p><img src="<%= element.image %>" /></p>
  </div>
  <% }) %>
</div>
