<p>
  Some excellent selections, my good traveller. Can I interest you in anything
  further?
</p>

<div>
  <a href="/profile/shop">Keep Looking</a>
</div>

<div>
  <form method="POST" action="/profile/checkout">
    <button type="sumbit">Pay Eginhard</button>
  </form>
</div>

<div>Total to Pay: <%= totalBasket %></div>

<div>
  <% currentUserBasket.forEach((element) => { %>
  <div>
    <p><%= element.name %></p>
    <p><%= element.price %></p>
    <p><img src="<%= element.image %>" /></p>
  </div>
  <% }) %>
</div>
