<div class="updateBackground">
  <nav>
    <a href="/profile">Back to the Prancing Pony</a>
    <a href="/characters">Your characters!</a>
    <a href="/characters/new">Create a new character!</a>
    <a href="/profile/shop">Visit Eginhard's Emporium</a>
    <a href="/profile/inventory">Take stock of your supplies!</a>
    <a href="/profile/dealer">Talk to the Dealer</a>
    <a href="/profile/wealth">Head to Bodrig's Bank</a>
    <a href="/profile/explore">Explore Middle-earth!</a>
    <a href="/logout">Logout</a>
  </nav>
  <div class="pageCtr">
  <div class="box">
    <div class="pageText">
      <h1 style="color: red">
        Are you sure you want to delete <%= toDelete.name %>? This proccess is
        irreversible!
      </h1>
      <a href="/characters/<%= toDelete.id %>/deleteValid" class="whiteButton"
        >I'm sure!</a
      >
      <a href="/characters/<%= toDelete.id %>/details" class="whiteButton"
        >Take me back!</a
      >
    </div>
  </div>
</div>
</div>
