<h1 style="color: red; font-size: 20px">
  Are you sure you want to delete <%= toDelete.name %>? This proccess is
  irreversible!
</h1>
<a href="/characters/<%= toDelete.id %>/deleteValid">I'm sure!</a>
<a href="/characters/<%= toDelete.id %>/details">Take me back!</a>
