<div>
  <% characters.forEach(element => { %>
  <div>
    <p><%= element.name %></p>
    <a href="/characters/<%= element.id %>/details">More details!</a>
  </div>
  <% }) %>
  <a href="/characters/new">Create a new character!</a>
</div>
