<p>Thank you for your purchase! Please come again soon, and remember Eginhard for all your future needs.</p>
<p>Amount spent today: <%=amount%> Castar</p>
<p>Still plenty to buy a pint of Southfarthing at the Prancing Pony.</p>
<p>Your current amount is: <%= updatedUser.money %></p>

<a href = "/profile/inventory">Head to your stores</a>