<nav>
  <a href="/profile">Back to the Prancing Pony</a>
</nav>

<h2>Let's play the dice!</h2>
<p>
  Roll a 6 sided dice against the dealer. If the number on your dice is higher
  than the dealer's, you win 100 Castar!
</p>

<a href="/profile/dealer/dice">Let's roll!</a>

<% if (result) { %> <% if (result==="player") { %>
<p>You won! 100 Castar was added to your bank! The dealer salutes you!</p>

<% } else if (result==="dealer") { %>
<p>You lost! Better luck next time, for you can always try again!</p>

<% } else if (result==="draw") { %>
<p>A draw! Would you like to go again, traveller?</p>

<% } %> <% } %>
<p>Your coin: <%= user.money %></p>
