<nav>
  <a href="/profile">Back to the Prancing Pony</a>
</nav>

<h1>EXPLORE THIS MIDDLE EARTH</h1>

<div class="characters">
  <h2>Important characters of Middle-Earth:</h2>
  <a href="/profile/explore/Gandalf">Gandalf, the Grey</a>
  <a href="/profile/explore/Aragorn">Aragorn, the Strider</a>
  <a href="/profile/explore/Legolas">Legolas, Prince of Mirkwood</a>
  <a href="/profile/explore/Frodo">Frodo Baggins</a>
  <a href="/profile/explore/Sam">Samwise Gamgee</a>
  <a href="/profile/explore/Gimli">Gimli, son of Glóin</a>
  <a href="/profile/explore/MaryPippin">Merry Brandybuck and Pippin Took</a>
  <a href="/profile/explore/Gollum">Gollum and Sméagol</a>
  <a href="/profile/explore/Galadriel">Galadriel, Lady of the Woods</a>
  <a href="/profile/explore/Elrond">Elrond Half-elven</a>
  <a href="/profile/explore/Saruman">Saruman, the White</a>
  <a href="/profile/explore/Sauron">Sauron</a>
</div>
<a href="/explore/places">Important places!</a>
