<nav>
  <a href="/profile">Back to the Prancing Pony</a>
</nav>

<h1>EXPLORE THIS MIDDLE-EARTH</h1>

<div class="explore-page">
  <div class="characters">
    <h2>Important characters of Middle-earth</h2>

    <a href="/profile/explore/Gandalf">Gandalf, the Grey</a>
    <a href="/profile/explore/Aragorn">Aragorn, the Strider</a>
    <a href="/profile/explore/Legolas">Legolas, Prince of Mirkwood</a>
    <a href="/profile/explore/Frodo">Frodo Baggins</a>
    <a href="/profile/explore/Sam">Samwise Gamgee</a>
    <a href="/profile/explore/Gimli">Gimli, son of Glóin</a>
    <a href="/profile/explore/MerryPippin">Merry Brandybuck and Pippin Took</a>
    <a href="/profile/explore/Galadriel">Galadriel, Lady of the Woods</a>
    <a href="/profile/explore/Elrond">Elrond Half-elven</a>
    <a href="/profile/explore/Gollum">Gollum and Sméagol</a>
    <a href="/profile/explore/Saruman">Saruman, the White</a>
    <a href="/profile/explore/Sauron">Sauron</a>
  </div>
  <div class="places">
    <h2>Important places in Middle-earth</h2>

    <a href="/profile/explore/Shire">The Shire</a>
    <a href="/profile/explore/Rivendell">Rivendell</a>
    <a href="/profile/explore/Gondor">The Kingdom of Gondor</a>
    <a href="/profile/explore/Rohan">The Kingdom of Rohan</a>
    <a href="/profile/explore/Mirkwood">Mirkwood</a>
    <a href="/profile/explore/Moria">Moria</a>
    <a href="/profile/explore/Isengard">Isengard</a>
    <a href="/profile/explore/Doom">Mount Doom</a>
    <a href="/profile/explore/Mordor">Mordor</a>
  </div>
</div>
