<nav>
    <a href="/profile">Back to the Prancing Pony</a>
  </nav>

<h1>TAKE STOCK OF YOUR INVENTORY</h1>

<p>
  You have stores that even Smaug would envy, kind traveller. Here you can marvel at your good fortune.
</p>


<div>
  <% currentUserInv.forEach((element) => { %>
  <div>
    <p><%= element.name %></p>
    <p><img src="<%= element.image %>" /></p>
  </div>
  <% }) %>
</div>