<nav>
    <a href="/profile">Back to the Prancing Pony</a>
  </nav>

<h1>TAKE STOCK OF YOUR INVENTORY</h1>

<p>
  You have stores that even Smaug would envy, kind traveller. Here you can marvel at your good fortune.
</p>


