<p>Having a good day at the market I see! That was a splendid sale.</p>
<p>An extra <%= saleAmount %> Castar in the bank!</p>

<a href="/profile/inventory">Select Another Item To Sell</a>
<a href="/profile">Leave the Market</a>