<body class="saleBackground">
<div class="checkoutBox basketBtn" style="margin-top: 300px">
<p>Having a good day at the market I see! That was a splendid sale.</p>
<p>An extra <%= saleAmount %> Castar in the bank!</p>
<div class="linkCtr2">
<div class="marketLink">
<a class="basketLink" href="/profile/inventory">Select Another Item To Sell</a>
</div>
<div class="marketLink">
<a class="basketLink" href="/profile">Leave the Market</a>
</div>
</div>
</div>
</body>