<nav>
    <a href="/profile">Back to the Prancing Pony</a>
  </nav>

<h1>WELCOME TO EGINHARD'S EMPORIUM</h1>

<p>Welcome, weary traveller. Please, take a look around my little emporium. If you need me, I will be in the back...</p>

<div>
<% shopItems.forEach((item) => { %>
    <div>
<p> <%= item.name %> </p>
<p> <%= item.price %> </p>
<p> <img src="<%= item.image %>"/> </p>
<form>
<button type="submit">Purchase</button>
</form>
</div>
<% }) %>
</div>