<nav>
  <a href="/profile">Back to the Prancing Pony</a>
  <a href="/characters">Your characters!</a>
  <a href="/characters/new">Create a new character!</a>
  <a href="/profile/shop">Visit Eginhard's Emporium</a>
  <a href="/profile/inventory">Take stock of your supplies!</a>
  <a href="/profile/dealer">Talk to the Dealer</a>
  <a href="/profile/explore">Explore Middle-earth!</a>
</nav>

<h1>COUNT YOUR COINS</h1>

<<<<<<< HEAD
<p>Good day to you, traveller. Bodrig's Bank is honoured to keep your wealth safely under lock and key. Have you been to see the dealer recently?</p>
=======
<p>
  Good day to you, traveller. Bodrig's Bank is honoured to keep your wealth
  safely under lock and key for you. Have you been to see the dealer recently?
</p>
>>>>>>> master

<p>Your coins: <%= user.money %> Castar</p>
