<nav>
  <a href="/profile">Back to the Prancing Pony</a>
  <a href="/profile/explore">Back to Middle Earth</a>
</nav>

<h2>Aragorn</h2>
<div class="about-page">
<div class="about-image">
  <img src="/images/aragorn.jpg" alt="" />
</div class>

  <div class="about">
    <h3>Biography:</h3>
    <p>
      Aragorn II, son of Arathorn II, known as Elessar and Strider, was the 16th
      and last Chieftain of the Dúnedain of the North, later crowned King Elessar
      Telcontar, the 26th King of Arnor, 35th King of Gondor and the first High
      King of Gondor and Arnor. He was a great ranger and warrior. He bore the
      shards of Narsil, reforged and renamed Andúril, <i>Flame of the West</i>, in
      the War of the Ring. A member of the Fellowship of the Ring, Aragorn
      accompanied the hobbits for as long as he could, before they were separated. Along with Legolas and Gimli, they joined the fight for Gondor
      against the forces of Isengard and Mordor.
    </p>
    <h3>Titles:</h3>
    <ul>
      <li>The Strider</li>
      <li>High King of Gondor and Arnor</li>
    </ul>
    <h3>Quotes:</h3>
    <p>
     "I would have gone with you to the end, into the very fires of Mordor."
     Aragorn to Frodo, upon the separation of the Fellowship of the Ring.
    </p>
    <p>
      "I will not let the White City fall. Nor our people fail." Aragorn to
       Boromir on his death-bed.
    </p>
    <p>"For Frodo" Aragorn to the armies of men at the Black Gate of Mordor.</p>
    <p>
      "If by my life or death I can protect you, I will. You have my sword."
      Aragorn to Frodo upon the creation of the Fellowship of the Ring.
    </p>
   <p>
      "My friends, you bow to no one." Aragorn to Frodo, Sam, Merry and Pippin on
      the day of his coronation.
    </p>
  </div>
</div>