<nav>
  <% if (change) { %>
  <a href="/profile">Back to the Prancing Pony</a>
  <a href="/characters">Your characters!</a>
  <a href="/characters/new">Create a new character!</a>
  <a href="/profile/shop">Visit Eginhard's Emporium</a>
  <a href="/profile/inventory">Take stock of your supplies!</a>
  <a href="/profile/dealer">Talk to the Dealer</a>
  <a href="/profile/wealth">Head to Bodrig's Bank</a>
  <a href="/profile/explore">Explore Middle-earth</a>
  <a href="/logout">Logout</a>
  <% } else { %>
  <a href="/login">Log in!</a>
  <a href="/signup">Create an account!</a>
  <% } %>
</nav>

<h2>Elrond Half-elven</h2>
<div class="about-page">
  <div class="image">
    <img src="/images/elrond.png" alt="Elrond" />
  </div>

  <div class="about">
    <h3>Biography:</h3>
    <p>
      Elrond Half-elf, Lord of Rivendell, was a mighty Elf-ruler of old who
      dwelt in Middle-earth from the First Age to the beginning of the Fourth
      Age. He was the father of Elladan and Elrohir, and Arwen Undómiel, the
      eventual wife of Aragorn II Elessar. He wielded the elven ring, Vilya.
    </p>
    <h3>Titles:</h3>
    <ul>
      <li>Lord of Rivendell</li>
      <li>Bearer of Vilya</li>
      <li>Vice-regent and herald to Gil-galad</li>
    </ul>

    <h3>Quotes:</h3>
    <p>
      "You should have stayed dead!" While confronting the Necromancer of Dol
      Guldur, really Sauron. A reference to how the guardians believed Sauron to
      be forevered conquered.
    </p>
    <p>
      "You shall be the Fellowship of the Ring!" Elrond announcing the name he
      wishes to give to the nine companions, whose goal was to get the One Ring to
      Mount Doom for it's destruction.
    </p>
    <p>
      "Become who you were born to be" Elrond to Aragorn as he offers him
      Isildur's Sword, declaring his support to the heir.
    </p>
  </div>
</div>
