<div class="indexBackground">
  <nav>
    <% if (change) { %>
    <a href="/profile">Back to the Prancing Pony</a>
    <a href="/characters">Your characters!</a>
    <a href="/characters/new">Create a new character!</a>
    <a href="/profile/shop">Visit Eginhard's Emporium</a>
    <a href="/profile/inventory">Take stock of your supplies!</a>
    <a href="/profile/dealer">Talk to the Dealer</a>
    <a href="/profile/wealth">Head to Bodrig's Bank</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Log in!</a>
    <a href="/signup">Create an account!</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <% } %>
  </nav>
  <div class="exploreBox">
    <div class="exploreText">
      <h1>Gandalf, the Grey</h1>
      <div class="about-page">
        <div class="about-image">
          <img src="/images/Gandalf grey and white.jpg" alt="Gandalf" />
        </div>
        <div class="about">
          <h3>Biography:</h3>
          <p>
            Gandalf the Grey, later known as Gandalf the White, and originally
            named Olórin, was a Wizard (Istar), dispatched to Middle-earth in
            the Third Age to combat the threat of Sauron. He joined Thorin
            Oakenshield and his company to reclaim the Lonely Mountain from
            Smaug, and helped form the Fellowship of the Ring to destroy the One
            Ring. He later led the Free Peoples in the final campaign of the War
            of the Ring.
          </p>
          <h3>Titles:</h3>
          <ul>
            <li>Elf-friend</li>
            <li>Istar</li>
            <li>Ring-bearer</li>
            <li>Servant of the Secret Fire</li>
            <li>Wielder of the Flame of Anor</li>
            <li>The Grey Wizard, and later the White Wizard</li>
          </ul>

          <h3>Quotes:</h3>
          <p>
            "Do you wish me a good morning, or mean that it is a good morning
            whether I want it or not; or that you feel good this morning; or
            that it is a morning to be good on?" Gandalf to Bilbo Baggins, when
            he wishes him a good morning.
          </p>
          <p>
            "Fly you fools!" Gandalf to The Fellowship of the Ring, as the
            Balrog has him by the leg.
          </p>
          <p>"Fool of a Took!" Gandalf to Pippin Took</p>
        </div>
      </div>
    </div>
  </div>
</div>
