<div class="indexBackground">
    <nav>
        <% if (change) { %>
            <a href="/profile">Back to the Prancing Pony</a>
            <a href="/characters">Your characters!</a>
            <a href="/characters/new">Create a new character!</a>
            <a href="/profile/shop">Visit Eginhard's Emporium</a>
            <a href="/profile/inventory">Take stock of your supplies!</a>
            <a href="/profile/dealer">Talk to the Dealer</a>
            <a href="/profile/wealth">Head to Bodrig's Bank</a>
            <a href="/profile/explore">Explore Middle-earth</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Log in!</a>
            <a href="/signup">Create an account!</a>
            <a href="/profile/explore">Explore Middle-earth</a>
        <% } %>
    </nav>
    <div class="exploreBox">
        <div class="exploreText">
            <h1>Gimli</h1>
            <div class="about-page">
                <div class="about-image">
                    <img src="/images/gimli.png" alt="Gimli" class="gimli-picture"/>
                </div>

                <div class="about">
                    <h3>Biography:</h3>
                    <p>
                        Gimli, son of Glóin, was a Dwarf of the House of Durin and a member
                                    of the Fellowship of the Ring. Unlike other Dwarves, he readily
                                    fought alongside Elves in the War of the Ring, going so far as
                                    befriending Legolas, elven Prince of the Mirkwood. After the defeat
                                    of Sauron, in the early Fourth Age, he was given the lordship over
                                    the Glittering Caves at Helm's Deep.
                    </p>
                    <h3>Titles:</h3>
                    <ul>
                        <li>Lord of the Glittering Caves</li>
                    </ul>

                    <h3>Quotes:</h3>
                    <p>
                        "...And my axe!" Gimli to Frodo Baggings, upon the formation of the
                                    Fellowship of the Ring.
                    </p>
                    <p>
                        "Let them come! There is one Dwarf yet in Moria who still draws
                                    breath!" Gimli to the Fellowship, as the goblins of the Mines of
                                    Moria prepare to storm the room they are in.
                    </p>
                    <p>
                        "Aye. I could do that" Gimli to Legolas, after the latter asked him
                                    if he could die beside a friend.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
