<div class="indexBackground">
  <nav>
    <% if (change) { %>
    <a href="/profile">Back to the Prancing Pony</a>
    <a href="/characters">Your characters!</a>
    <a href="/characters/new">Create a new character!</a>
    <a href="/profile/shop">Visit Eginhard's Emporium</a>
    <a href="/profile/inventory">Take stock of your supplies!</a>
    <a href="/profile/dealer">Talk to the Dealer</a>
    <a href="/profile/wealth">Head to Bodrig's Bank</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Log in!</a>
    <a href="/signup">Create an account!</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <% } %>
  </nav>
  <div class="exploreBox">
    <div class="exploreText">
      <h1>The Kingdom of Gondor</h1>

      <div class="about-page">
        <div class="image">
          <img
            src="/images/gondor-city.png"
            alt="City of Minas Tirith"
            class="locationImageG"
          />

          <div class="image">
            <img
              src="/images/gondor-coat-of-arms.png"
              alt="Gondor Coat of arms"
              class="coatOfArmsG"
            />
          </div>
          <audio
            src="https://res.cloudinary.com/dtiihknqe/video/upload/v1668093125/gondor_mvihyf.mp3"
            controls="true"
            loop
            class="audio"
          ></audio>
          <script>
            const audio = document.querySelector(".audio");
            audio.volume = 0.05;
          </script>
        </div>
        <div class="about">
          <p>
            Gondor was the most prominent kingdom of Men in Middle-earth,
            bordered by Rohan to the north, Harad to the south, the cape of
            Andrast and the Sea to the west, and Mordor to the east. Its first
            capital was Osgiliath, which was then moved to Minas Anor, later
            renamed Minas Tirith. This city remained the capital of Gondor for
            the entirety of the Third Age, and into the Fourth Age. Other major
            fortresses included Pelargir, Dor Amroth and Minas Ithil.
          </p>
          <p>
            Gondor was founded by the brothers Isildur and Anárion, and became
            the sister kingdom of Arnor, whose line of kings descended from
            Isildur, while the line of Kings of Gondor descended from Anárion.
            Gondor was at the height of its power in its early years due to the
            ships and the military might that its armies possessed. However,
            continued attacks by allies of Sauron, civil war, and a devastating
            plague, caused it to gradually decline over the course of the Third
            Age until Sauron's final defeat and the crowning of Aragorn II
            Elessar. Following that time, the power of Gondor once again
            expanded, and the former lands of Arnor were united with it under
            the banner of the Reunited Kingdom. In all, there were 31 Kings of
            Gondor after Anárion, who was slain in the War of the Last Alliance
            at the Siege of Barad-dûr.
          </p>
          <p>
            During the Third Age, and the War of the Ring, Minas Tirith faced a
            larger attack from Mordor, with the additional threat of the
            Corsairs of Umbar. Aragorn summoned the Dead Men of Dunharrow to
            destroy the Corsairs, freeing forces in the south of Gondor to come
            to the aid of Minas Tirith. Gondor then defeated the army of Mordor
            with the aid of the Rohirrim in the Battle of the Pelennor Fields,
            though with heavy losses. The combined Army of the West then carried
            the battle to Sauron, starting the Battle of the Black Gate, a feint
            to distract the Dark Lord's attention from Frodo Baggins' quest to
            destroy the One Ring in Mount Doom, thus causing Sauron's
            destruction and the allies' ultimate victory.
          </p>
          <p>
            After the second and final defeat of Sauron and the coronation of
            Aragorn, the oaths between Gondor and Rohan were renewed, and
            several joint campaigns were fought in the east and south against
            the Easterlings and Haradrim; all former territories of the
            South-kingdom were won back during the following centuries, and its
            power and wealth were restored.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
