<div class="indexBackground">
  <nav>
    <% if (change) { %>
    <a href="/profile">Back to the Prancing Pony</a>
    <a href="/characters">Your characters!</a>
    <a href="/characters/new">Create a new character!</a>
    <a href="/profile/shop">Visit Eginhard's Emporium</a>
    <a href="/profile/inventory">Take stock of your supplies!</a>
    <a href="/profile/dealer">Talk to the Dealer</a>
    <a href="/profile/wealth">Head to Bodrig's Bank</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Log in!</a>
    <a href="/signup">Create an account!</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <% } %>
  </nav>
  <div class="exploreBox">
    <div class="exploreText">
      <h1>Legolas</h1>
      <div class="about-page">
        <div class="about-image">
          <img src="/images/legolas.jpg" alt="" />
        </div>

        <div class="about">
          <h3>Biography:</h3>
          <p>
            Legolas was a Sindar Elf who was part of the Fellowship of the Ring
            in the Third Age. Son of the Elven King Thranduil of Mirkwood,
            Legolas was the Prince of Mirkwood, a messenger, and a master
            archer. With his keen eyesight, sensitive hearing, and excellent
            bowmanship, Legolas was valuable to the Fellowship in their journey
            across Middle-earth. He was well-known for becoming friends with the
            Dwarf Gimli, despite their historic and long-standing differences.
          </p>
          <h3>Titles:</h3>
          <ul>
            <li>Prince of the Woodland Realm</li>
          </ul>
          <h3>Quotes:</h3>
          <p>
            "And my bow." Legolas to Frodo Baggins upon the creation of the
            Fellowship of the Ring.
          </p>
          <p>
            "They're taking the hobbits to Isengard!" Legolas to Gimli and
            Aragorn, while tracking the Uruk Hai orcs, who had kidnapped Merry
            and Pippin.
          </p>
          <p>
            "Shall I describe it to you? Or would you like me to find you a
            box?" Legolas to Gimli, after the latter complained about being
            unable to see over the wall of Helm's Deep.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
