<nav>
  <a href="/profile">Back to the Prancing Pony</a>
  <a href="/profile/explore">Back to Middle-Earth</a>
</nav>

<h2>Meriadoc Brandybuck and Peregrin Took</h2>
<div class="about-page">
  <div class="image">
    <img
      src="/images/merrypippin.png"
      alt="MerryPippin"
      class="merryPippinImage"
    />
  </div>

  <div class="about">
    <h3>Biography:</h3>
    <p>
      Meriadoc Brandybuck and Peregrin Took, more commonly known as Merry and
      Pippin, were a pair of Hobbits, from The Shire, and one of Frodo's
      counsins and best friends. Both were members of the Fellowship of the
      Ring. Merry loved boats and ponies, and had a great interest in the maps
      of Middle-earth.
    </p>
    <h3>Titles:</h3>
    <ul>
      Merry:
      <li>Master of Buckland</li>
      <li>Knight of Rohan</li>
    </ul>
    <ul>
      Pippin:
      <li>Thain of the Shire</li>
      <li>Guard of the Citadel</li>
      <li>Knight of Gondor</li>
    </ul>

    <h3>Quotes:</h3>
    <p>
      "It comes in pints?!" Pippin to Merry, when the latter brings a pint of
      ale to their table at the Prancing Pony.
    </p>
    <p>
      "We've had one, yes. What about second breakfast?!" Pippin when Aragorn
      tells him to stop making food so soon after they had breakfast.
    </p>
    <p>
      "How many did you eat?" "Four" Merry asking Pippin how many pieces of
      Lembas Bread he has eaten, after being told by Legolas that a single bite
      can make a grown man feel full.
    </p>
  </div>
</div>
