<div class="indexBackground">
  <nav>
    <% if (change) { %>
    <a href="/profile">Back to the Prancing Pony</a>
    <a href="/characters">Your characters!</a>
    <a href="/characters/new">Create a new character!</a>
    <a href="/profile/shop">Visit Eginhard's Emporium</a>
    <a href="/profile/inventory">Take stock of your supplies!</a>
    <a href="/profile/dealer">Talk to the Dealer</a>
    <a href="/profile/wealth">Head to Bodrig's Bank</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Log in!</a>
    <a href="/signup">Create an account!</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <% } %>
  </nav>
  <div class="exploreBox">
    <div class="exploreText">
      <h1>Mirkwood</h1>

      <div class="about-page">
        <div class="image">
          <img src="/images/mirkwood.png" alt="Mirkwood" style="width: 600px" />
          <audio
            src="https://res.cloudinary.com/dtiihknqe/video/upload/v1668093126/mirkwood_xwovvf.mp3"
            controls="true"
            loop
            class="audio"
          ></audio>
          <script>
            const audio = document.querySelector(".audio");
            audio.volume = 0.05;
          </script>
        </div>

        <div class="about">
          <p>
            Mirkwood, which received its ominous name in the Third Age, was the
            greatest forest of Middle-earth, located in the eastern region of
            Rhovanion between the Grey Mountains and Calenardhon.
          </p>
          <p>
            Mirkwood was a dense and heavy woodland that made up much of the
            eastern portion of Rhovanion or Wilderland, that maintained its
            borders and relative shape for many ages. Its natural land features
            included (in the northern part of the forest) the Mountains of
            Mirkwood, a sizable river referred to in J.R.R. Tolkien's map as the
            Forest River, that ran from the Grey Mountains down to Long Lake,
            and a smaller river that ran from the Mountains of Mirkwood to join
            with the Forest River west of the Elvenking's Halls. This smaller
            river was enchanted (or polluted) to such an extent that it caused
            slumber and forgetfulness to anyone who fell into it.
          </p>
          <p>
            The Sindar Elf Oropher, who was the grandfather of Legolas,
            established the Woodland Realm properly, and it become the primary
            settlement of the Elves from the Second Age onwards. It was around
            this time that Men began making permanent settlements in and around
            the forest. When Oropher was killed in the War of the Last Alliance,
            the kingship passed to his son Thranduil.
          </p>
          <p>
            The area had been called Greenwood the Great until around the year
            TA 1050, when the shadow of the Dark Lord Sauron fell upon it, and
            Men began to call it Mirkwood, or Taur-nu-Fuin and Taur-e-Ndaedelos
            in the Sindarin tongue. From then on, The southern part of Mirkwood
            became a haunted place inhabited by many dark and savage things.
            Sauron, or the 'Necromancer' as he disguised himself, established
            himself at the hill-fortress of Dol Guldur, an old Elven fortress in
            the forest's southern region, and drove Thranduil and his people
            ever northward.
          </p>
          <p>
            After Sauron was vanquished at the conclusion of the Third Age, the
            darkness was lifted from Mirkwood, Dol Guldur was utterly destroyed
            by Galadriel and Thranduil gave the forest the name Eryn Lasgalen
            (Sindarin for wood of green leaves).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
