<div class="indexBackground">
  <nav>
    <% if (change) { %>
    <a href="/profile">Back to the Prancing Pony</a>
    <a href="/characters">Your characters!</a>
    <a href="/characters/new">Create a new character!</a>
    <a href="/profile/shop">Visit Eginhard's Emporium</a>
    <a href="/profile/inventory">Take stock of your supplies!</a>
    <a href="/profile/dealer">Talk to the Dealer</a>
    <a href="/profile/wealth">Head to Bodrig's Bank</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Log in!</a>
    <a href="/signup">Create an account!</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <% } %>
  </nav>
  <div class="exploreBox">
    <div class="exploreText">
      <h1>Moria</h1>

      <div class="about-page">
        <div class="locationImage">
          <img
            src="/images/moria.png"
            alt="Moria"
            style="width: 500px; height: 300px"
          />
          <audio
            src="/audio/moria.mp3"
            controls="true"
            loop
            class="audio"
          ></audio>
          <script>
            const audio = document.querySelector(".audio");
            audio.volume = 0.05;
          </script>
        </div>

        <div class="about">
          <p>
            Khazad-dûm, commonly known as Moria or the Dwarrowdelf, was an
            underground kingdom beneath the Misty Mountains. It was known for
            being the ancient realm of the Dwarves of Durin's Folk, and the most
            famed of all Dwarven realms.
          </p>
          <p>
            The Dwarrowdelf was founded by Durin 'the Deathless' in the far
            distant past, long before the creation of the Sun and Moon in the
            Years of the Trees.
          </p>
          <p>
            Early in the Second Age, Khazad-dûm's realm of Longbeards was
            enriched in culture, skills, and population by large numbers of
            refugees from Belegost and Nogrod, cities ruined at the end of the
            First Age along with most of Beleriand in the cataclysmic final
            battle against Morgoth.
          </p>
          <p>
            Throughout the early Third Age, the Dwarves of Khazad-dûm expanded
            their treasure, but their numbers continued to dwindle. The majority
            of their wealth was based on their hoards of mithril, which they
            mined in their deepest tunnels, and as the centuries went by the
            Dwarves delved ever deeper for the precious metal.
          </p>
          <p>
            They dug too deeply and greedily for mithril and to their loss they
            unearthed a nameless terror in the depths beneath the city. This
            dreadful creature wrought destruction throughout the city wiping out
            most of the Dwarves and slaying King Durin VI. Thereafter the
            creature was named Durin's Bane. The Dwarves tried to fight but the
            following year Durin's son Náin I was also slain, forcing the
            Dwarves to abandon their home for good. After the Dwarves had left,
            Khazad-dûm gathered dust and stood dark and empty, but for the
            sinister creature that lurked in the depths. This was when it was
            named Moria, the Black Pit.
          </p>
          <p>
            The monster, later revealed as a Balrog of Morgoth, dwelled alone in
            Moria for nearly five centuries until it was populated once again,
            but not by Dwarves. The goblins, fleeing from the north, began to
            raid the abandoned city of its treasures and occupied it. They came
            upon the Balrog but established a sort of uneasy coexistence with
            it.
          </p>
          <p>
            The Dwarves of the Lonely Mountain, descendants of the ancient
            Durin's Folk ignited an attempt to reclaim and recolonize their
            ancestral dwelling - Khazad-dûm. The expedition was led by Balin son
            of Fundin, one of Thorin Oakenshield's Company of Dwarves who
            accompanied Bilbo Baggins on the Quest of Erebor. He led a group of
            Dwarves from Erebor to Moria, and successfully drove back the Orcs,
            taking many of the eastern halls and recovering priceless ancestral
            treasures such as Durin's Axe. The numbers of Orcs, however, were
            too great for their small company and all, including Bálin, were
            killed.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
