<nav>
  <a href="/profile">Back to the Prancing Pony</a>
  <a href="/profile/explore">Back to Middle-Earth</a>
</nav>

<div class="meme">
  <img
    src="/images/oneDoesNotSimply.jpg"
    alt="one does not simply"
    style="width: 900px"
  />
</div>

<h2>Are you sure you'd like to continue to Mordor?</h2>
<div class="answers">
  <a href="/profile/explore/Mordor/true">For Frodo!</a>
  <a href="/profile/explore">No, take me back!</a>
</div>
