<div class="indexBackground">
  <nav>
    <% if (change) { %>
    <a href="/profile">Back to the Prancing Pony</a>
    <a href="/characters">Your characters!</a>
    <a href="/characters/new">Create a new character!</a>
    <a href="/profile/shop">Visit Eginhard's Emporium</a>
    <a href="/profile/inventory">Take stock of your supplies!</a>
    <a href="/profile/dealer">Talk to the Dealer</a>
    <a href="/profile/wealth">Head to Bodrig's Bank</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Log in!</a>
    <a href="/signup">Create an account!</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <% } %>
  </nav>
  <div class="exploreBox">
    <div class="exploreText">
      <div class="meme">
        <img
          src="/images/oneDoesNotSimply.jpg"
          alt="one does not simply"
          style="width: 900px"
        />
      </div>

      <h2>Are you sure you'd like to continue to Mordor?</h2>
      <div class="answers">
        <a href="/profile/explore/Mordor/true" class="whiteButton"
          >For Frodo!</a
        >
        <a href="/profile/explore" class="whiteButton">No, take me back!</a>
      </div>
    </div>
  </div>
</div>
