<nav>
  <a href="/profile">Back to the Prancing Pony</a>
  <a href="/profile/explore">Back to Middle-Earth</a>
</nav>

<h2>Rivendell</h2>
<div class="about-page">
  <div class="image">
    <img src="/images/rivendell.png" class="locationImage" />
  </div>

  <div class="about">
    <p>
      Rivendell, also known as Imladris in Sindarin, was an Elven town and the
      house of Elrond located in the Middle-earth. It is described as "The last
      Homely House East of the Sea" in reference to Valinor, which was west of
      the Great Sea in Aman.
    </p>
    <p>
      Located at the edge of a narrow gorge of the river Bruinen, but well
      hidden in the moorlands and foothills of the Misty Mountains. One of the
      main approaches to Rivendell passed through the nearby Ford of Bruinen.
    </p>
    <p>
      Rivendell was established by Elrond in the Second Age of Middle-earth. In
      the War of the Elves and Sauron, Elrond was sent from Lindon with a host
      of Elves to air in resisting Sauron. However, he arrived too late, and was
      forced to retreat with the refugees, to a valley where they made their
      stronghold. This was the beginning of Rivendell.
    </p>
    <p>
      The last surviving son of Isildur, Valandir was fostered by Elrons in
      Rivendell until ready to take up his throne eight years later. This began
      a precedent, aftet the fall of Angmar, the heirs of Isildur were all
      fostered in Rivendell.
    </p>
    <p>
      During the Quest of Erebor, Bilbo Baggins and the Company of Thorin
      Oakenshield stopped off at Rivendell. Bilbo described it as "a perfect
      house, whether you like food or sleep, or story-telling or singing, or
      just sitting and thinking best, or a pleasant misture of them all". Years
      later, Frodo Baggins and his Hobbit companions journeyed to Rivendell,
      where they met with Bilbo, who had retired there after his eleventy-first
      birthday. Several other Elves, Dwarves and Men also arrived at Rivendell
      on seperate errands. At the Council of Elrond they learned that the fates
      of all their kind were related to that of the One Ring. Rivendell served
      as the starting point for the Quest of the Ring and birthplace of the
      Fellowship of the Ring.
    </p>
  </div>
</div>
