<div class="indexBackground">
    <nav>
        <% if (change) { %>
            <a href="/profile">Back to the Prancing Pony</a>
            <a href="/characters">Your characters!</a>
            <a href="/characters/new">Create a new character!</a>
            <a href="/profile/shop">Visit Eginhard's Emporium</a>
            <a href="/profile/inventory">Take stock of your supplies!</a>
            <a href="/profile/dealer">Talk to the Dealer</a>
            <a href="/profile/wealth">Head to Bodrig's Bank</a>
            <a href="/profile/explore">Explore Middle-earth</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Log in!</a>
            <a href="/signup">Create an account!</a>
            <a href="/profile/explore">Explore Middle-earth</a>
        <% } %>
    </nav>
    <div class="exploreBox">
        <div class="exploreText">
            <h1>Saruman, the White</h1>
            <div class="about-page">
                <div class="about-image">
                    <img src="/images/saruman.png" alt="saruman" class="sarumanImg"/>
                </div>
                <div class="about">
                    <h3>Biography:</h3>
                    <p>
                        Saruman, also known as Saruman the White, was the first of the order
                                                                                                                                    of Istari (Wizards), who came to Middle-earth as emissaries of the
                                                                                                                                    Valar in the Third Age. He was the Wizards' leader, and chief of the
                                                                                                                                    White Council that opposed Sauron. His extensive studies of dark
                                                                                                                                    magic, however, eventually led him to desire the One Ring and lust
                                                                                                                                    for power. Thinking he could gain it for himself or become Sauron's
                                                                                                                                    servant, Saruman allied Isengard with Mordor in the War of the Ring,
                                                                                                                                    in which he was defeated.
                    </p>
                    <h3>Titles:</h3>
                    <ul>
                        <li>Lord of Isengard</li>
                        <li>Head of the White Council</li>
                        <li>The White Wizard</li>
                        <li>The Wise</li>
                    </ul>

                    <h3>Quotes:</h3>
                    <p>
                        "Always you must meddle, looking for trouble where none exists." To
                                                                                                                                    Gandalf, when he first brought up the idea that Sauron was not
                                                                                                                                    defeated. Serves as a monumental foreshadowing to the dangers to
                                                                                                                                    come.
                    </p>
                    <p>
                        "The hour is later than you think." To Gandalf, telling him it's
                                                                                                                                    much too late to stop Sauron, and that he has choosen to ally
                                                                                                                                    himself with the Dark Lord.
                    </p>
                    <p>
                        "Who now has the strength to stand against the armies of Isengard...
                                                                                                                                    and Mordor?" To no one, as he finally unveils his agreement with
                                                                                                                                    Sauron, allying his own forces of Isengard, with the Dark Lord's in
                                                                                                                                    Mordor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
