<div class="indexBackground">
    <nav>
        <% if (change) { %>
            <a href="/profile">Back to the Prancing Pony</a>
            <a href="/characters">Your characters!</a>
            <a href="/characters/new">Create a new character!</a>
            <a href="/profile/shop">Visit Eginhard's Emporium</a>
            <a href="/profile/inventory">Take stock of your supplies!</a>
            <a href="/profile/dealer">Talk to the Dealer</a>
            <a href="/profile/wealth">Head to Bodrig's Bank</a>
            <a href="/profile/explore">Explore Middle-earth</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Log in!</a>
            <a href="/signup">Create an account!</a>
            <a href="/profile/explore">Explore Middle-earth</a>
        <% } %>
    </nav>
    <div class="exploreBox">
        <div class="exploreText">
            <h1>Sauron</h1>
            <div class="about-page">
                <div class="about-image">
                    <img src="/images/sauron.jpg" alt="smeagol" class="sauron-image"/>
                </div>

                <div class="about">
                    <h3>Biography:</h3>
                    <p>
                        Sauron, the epopymous Lord of the Rings, maker of the One Ring, the
                                    most trusted lieutenent of Morgoth. After Morgoth's ousting by the
                                    Valar, Sauron became the second Dark Lord, and sought to conquer
                                    Middle-earth and even Númenor through guileful trickery - the chief
                                    representation of which were the Rings of Power. At the End of the
                                    Second Age, sauron was defeated in the War of the Last Alliance of
                                    Elves and Men united under Gil-galad and Elendir. In the final
                                    battle, Isildur managed to cut the One Ring from him, dismantling
                                    Sauron's corporeal form and ridding him of much of his power. After
                                    centuries lying dormant, rebuilding strength and stirring awake evil
                                    things, Sauron returned to power late in the Third Age, but was
                                    permanently crippled in the War of the Ring, after the destruction
                                    of his Ring in the fire of Mouth Doom, by Frodo Baggins, and his
                                    spirit was claimed by the Void.
                    </p>
                    <h3>Titles:</h3>
                    <ul>
                        <li>The Dark Lord</li>
                        <li>The Deceiver</li>
                        <li>Necromancer</li>
                        <li>The Lord of the Rings</li>
                    </ul>

                    <h3>Quotes:</h3>
                    <p>
                        "You cannot hid. I see you. There is no life in the void. Only
                                    death." To anyone who wear the One Ring.
                    </p>
                    <p>"Build me an army worthy of Mordor" To Saruman.</p>
                </div>
            </div>
        </div>
    </div>
</div>
