<div class="indexBackground">
  <nav>
    <% if (change) { %>
    <a href="/profile">Back to the Prancing Pony</a>
    <a href="/characters">Your characters!</a>
    <a href="/characters/new">Create a new character!</a>
    <a href="/profile/shop">Visit Eginhard's Emporium</a>
    <a href="/profile/inventory">Take stock of your supplies!</a>
    <a href="/profile/dealer">Talk to the Dealer</a>
    <a href="/profile/wealth">Head to Bodrig's Bank</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Log in!</a>
    <a href="/signup">Create an account!</a>
    <a href="/profile/explore">Explore Middle-earth</a>
    <% } %>
  </nav>
  <div class="exploreBox">
    <div class="exploreText">
      <h2>The Shire</h2>
      <div class="about-page">
        <div class="image">
          <img
            src="/images/theshire.png"
            alt="The Shire"
            class="locationImage"
          />
          <audio
            src="https://res.cloudinary.com/dtiihknqe/video/upload/v1668093129/the_shire_paj7hi.mp3"
            controls="true"
            loop
            class="audio"
          ></audio>
          <script>
            const audio = document.querySelector(".audio");
            audio.volume = 0.05;
          </script>
        </div>

        <div class="about">
          <p>
            The Shire was a realm in northwestern Middle-earth, inhabited by the
            hobbits. It was located in the region of Eriador.
          </p>
          <p>
            By the late Third Age it was one of the few heavily-populated areas
            left in Eriador. Contrary to popular belief, The Shire was not the
            birthplace of Frodo Baggins, who was born in Buckland, which at the
            time was not formally a part of the Shire, despite being colonized
            later by Shire hobbits.
          </p>
          <p>
            At the end of the Third Age, Saruman tried to take control of the
            Shire for a very short period, but was killed in the Battle of
            Bywater, which ended the War of the Ring.
          </p>
          <p>
            The Shire was bounded by the Brandywine River to the East, although
            Buckland (which was later made part of the Shire after the War of
            the Ring) was further east after crossing the River. The climate of
            the Shire was very similar to that of England: cool, but with not
            overly-cold winters, and fairly warm summers. Rainfall was fairly
            frequent, with snow being much more rare.
          </p>
          <p>
            On J.R.R. Tolkien's maps, the Shire was located at about the same
            position as England on modern European maps, solidifying another
            link between the real world and Tolkien's universe. Throughout the
            narrative, Tolkien also implies numerous points of similarity betwen
            the two, such as weather, agriculture and dialect.
          </p>
          <p>
            The Shire's history was mostly peaceful, with the most dangerous
            time period stemming from Bilbo Baggins' acquisition of the One
            Ring. The Shire was first visited by the nine Ringwraiths, after
            which it was enslaved by Saruman. It was later liberated with the
            help of Frodo, Sam, Merry and Pippin after the end of the Quest of
            the Ring. After Aragorn's return as the King of Arnor and Gondor,
            the Shire became a protected enclave inside the Reunited Kingdom.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
