<nav>
  <% if (change) { %>
  <a href="/profile">Back to the Prancing Pony</a>
  <a href="/characters">Your characters!</a>
  <a href="/characters/new">Create a new character!</a>
  <a href="/profile/shop">Visit Eginhard's Emporium</a>
  <a href="/profile/inventory">Take stock of your supplies!</a>
  <a href="/profile/dealer">Talk to the Dealer</a>
  <a href="/profile/wealth">Head to Bodrig's Bank</a>
  <a href="/profile/explore">Explore Middle-earth</a>
  <a href="/logout">Logout</a>
  <% } else { %>
  <a href="/login">Log in!</a>
  <a href="/signup">Create an account!</a>
  <% } %>
</nav>

<h2>Sméagol/Gollum</h2>
<div class="about-page">
  <div class="image">
    <img src="/images/smeagolGollum.jpg" alt="smeagol" class="smeagol-image" />
  </div>

  <div class="about">
    <h3>Biography:</h3>
    <p>
      Gollum, originally named Sméagol was at first a Stoor, one of the three
      early Hobbit-types. The name Gollum was derived from the sound of cough.
      His life extended far beyond hit nature, by the effects of possessing the
      One Ring. Sméagol was about 589 years olf when he died, a remarkable age
      for a creature that was once a Hobbit, but he had been deformed and
      twisted in body and mind by the corruptiong of the Ring. His chield desire
      was to repossess the Ring that had enslaved him, and he pursued it for
      many years after Bilbo Baggins found it in Gollum's cave within the Misty
      mountains. Inadvertently, Gollum would go on to play a vitar role in the
      destruction of the One Ring.
    </p>
    <h3>Titles:</h3>
    <ul>
      <li>Ring Bearer</li>
    </ul>

    <h3>Quotes:</h3>
    <p>"My precious!" Speaking of the one ring.</p>
    <p>
      "Curse the Baggins!" Speaking of both Bilbo, who originally stole the ring
      from him, and then Frodo, who kept the ring from Gollum at every
      opportunity.
    </p>
  </div>
</div>
